<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <title>Handy Helper Dashboard</title>
</head>
<body>
    <div id ="wrapper">
        <div class="navbar">
            <h3> Welcome {{first_name}} {{last_name}}!</h3>
            <div class="navbuttons">
                <a href='/newjob/'><u>Add A Job</u></a>
                <a href='/logout/'><u>Logout</u></a>
            </div>
        </div>
        <div class="display">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>JOB</th>
                        <th>LOCATION</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                        {% if not job.assignee %}
                            <tr>
                                
                                <td>{{job.title}}</td>
                                <td>{{job.location}}</td>
                                <td class=''>
                                    <a href='/view/{{job.id}}/'><u>View</u></a>
                                    <a href='/dojob/{{job.id}}/'><u>Add</u></a>
                                    {% if job.posted_by == user %}
                                        <a href='/edit/{{job.id}}/'><u>Edit</u></a>
                                        <a href='/cancel/{{job.id}}/'><u>Cancel</u></a>
                                    {% endif %} 
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor%}
                </tbody>
            </table>
        </div>
        <div class="myjobs">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>My Jobs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for myjob in myjobs%}
                        <tr>
                            <td>{{myjob.title}} <span><a href='/view/{{myjob.id}}/'><u>View</u></a>  <a href='/cancel/{{myjob.id}}/'><u>Done</u></a></span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>