<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <title>User Quotes</title>
</head>
<body>
    <div id="wrapper">
        <div class="navbar">
            <h4>Edit Your Job Posting</h4>
            <div class="navbuttons">
                <a href='/logout/'><u>Logout</u></a>
                <a href='/dashboard/'><u>Back</u></a>
            </div>
        </div>
        <div class="job">
            <form class='form-group' action='/verify/{{id}}/' method='post'>
                {% csrf_token %}
                {% if messages %}
                    <ul class='messages'>
                    {% for message in messages %}
                            <li>{{message}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <label name='title'>Title</label>
                <input class='form-control' type='text' name='title' value='{{title}}'>
                <label name='description'>Description</label>
                <textarea class='form-control' name='description'>{{description}}</textarea>
                <label name='location'>Location</label>
                <input class='form-control' type='text' name='location' value='{{location}}'>
                <input class='button' type='submit' value='Submit'>
            </form>
        </div>
    </div>
</body>
</html>