<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static '/users/css/style.css' %}">
    <title>Home</title>
</head>
<body>
    <div id='wrapper'>
        <h1>Welcome to Handy Helper</h1>
        <div class='registration'>
            <h2>Register</h2>
            <form class='form-group' action='/process/' method='post'>
                {% csrf_token %}
                {% if messages %}
                    <ul class='messages'>
                    {% for message in messages %}
                            <li>{{message}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <label name='name'>First Name:</label>
                <input class='form-control' type='text' name='first_name' placeholder='Name'>
                <label name='lastname'>Last Name:</label>
                <input class='form-control' type='text' name='last_name' placeholder='Last Name'>
                <label name='name'>Email:</label>
                <input class='form-control' type='text' name='email' placeholder='example@yahoo.com'>
                <label name='name'>Password:</label>
                <input class='form-control' type='password' name='password'>
                <label name='name'>Confirm Password:</label>
                <input class='form-control' type='password' name='confirm_pw'>
                <input class='button' type='submit' value='Register'>
            </form>
        </div>
        <div class='login'>
            <h2>Login</h2>
            <form class='form-group' action='/login/' method='post'>
                {% csrf_token %}
                <label name='name'>Email:</label>
                <input class='form-control' type='text' name='email_login' placeholder='example@yahoo.com'>
                <label name='name'>Password:</label>
                <input class='form-control' type='password' name='pw_login'>
                <input class='button' type='submit' value='Login'>
            </form>
        </div>
    </div>
</body>
</html>