<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <title>View Job</title>
</head>
<body>
    <div id="wrapper">
        <div class="navbar">
            <div class="navbuttons">
                <a href='/logout/'><u>Logout</u></a>
                <a href='/dashboard/'><u>Back</u></a>
            </div>
        </div>
        <div class="viewjob">
            <h4>{{title}}</h4>
            <div class="jobbox">
                <p>{{description}}</p>
                <p>Location: {{location}}</p>
                <p>Posted by: {{posted_by}}</p>
                <p>Posted on: {{created_at}}</p>
            </div>
            <a href="/dojob/{{id}}/"><u>Add To My Jobs</u></a>
        </div>
    </div>
</body>
</html>