#wrapper{
    margin:auto;
    width: 700px;
}
ul{
    color: red;
}
.button{
    float: right;
    margin-top: 5px;
}
a {
    float: right;
    margin: 5px;
}
.navbuttons{
    float: right;
    margin: 5px;
}
.registration{
    display: inline-block;
    width:300px;
}
.login{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-left: 50px;
}
.job{
    width: 300px;
}
h4 {
    display: inline-block;
}
.jobbox{
    border: 2px solid black;
    width: 400px;
}